<div class="title">
    <div class="container text-center">
        <h1> Moodle media plugins </h1>
    </div>
</div>

<br>

<div class="container">
    <h2> Usage guide </h2>

    <ul class="list-unstyled">
        <li><button class="btn-link" ng-click="index.scrollTo('download-file')">download the files</button></li>
        <li><button class="btn-link" ng-click="index.scrollTo('install-plugins')">install the plugins</button></li>
        <li><button class="btn-link" ng-click="index.scrollTo('upload-file')">upload a file</button></li>
        <li><button class="btn-link" ng-click="index.scrollTo('list-file')">list uploaded files</button></li>
    </ul>

    <h3 id="download-file">Download the files</h3>
    <ul>
        <li><a href="https://github.com/heanet/moodle_media/raw/master/heanetmedia_list.zip">Repository: heanetmedia_list.zip</a></li>
        <li><a href="https://github.com/heanet/moodle_media/raw/master/heanetmedia_upload.zip">Repository: heanetmedia_upload.zip</a></li>
        <li><a href="https://github.com/heanet/moodle_media/raw/master/heanetmedia.zip">Filter: heanetmedia.zip</a></li>
    </ul>

    <hr>
    <h3 id="install-plugins">Install the plugins</h3>
    <ol>
        <li>go to your plugin installer page (ie: example.ie/admin/tool/installaddon/index.php)</li>
        <li>from the drop down, select "Repository (repository)"</li>
        <li>choose the file "heanetmedia_list.zip</li>
        <li>click the blue button "Install the plugin from the ZIP file"</li>
        <li>you should see the next page titled as "Plugin package validation", and verify that it reads "Validation
            passed!"
        </li>
        <li>click the grey button "Install Plugin!"</li>
        <li>you should see the next page titled as "Plugins check"</li>
        <li>click the grey button "Upgrade Moodle database now"</li>
        <li>you should see the next page title as "Upgrading to new version", and verify that it reads "Success"</li>
        <li>click the grey button "Continue"</li>
    </ol>
    <em>The steps are analogous for the other two plugins</em>

    <br><br>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3 class="text-center">Steps 1 - 4</h3>
                </div>
                <a href="/img/moodle1.png">
                    <img class="img-rounded" src="/img/moodle1.png">
                </a>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3 class="text-center">Steps 5 - 6</h3>
                </div>
                <a href="/img/moodle2.png">
                    <img class="img-rounded" src="/img/moodle2.png">
                </a>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3 class="text-center">Steps 7 - 10</h3>
                </div>
                <a href="/img/moodle3.png">
                    <img class="img-rounded" src="/img/moodle3.png">
                </a>
            </div>
        </div>
    </div>

    <hr>
    <h3 id="upload-file">Upload a file</h3>
    <ol>
        <li>in any editor with the media button, click the button</li>
        <li>a window named "Insert media" will open</li>
        <li>click the grey button "Browse repositories"</li>
        <li>on the left, among other repositories you might have, you will see two prefixed "Heanet Media:"</li>
        <li>click the repostiory "Heanet Media: Upload"</li>
        <li>you will be shown the IDP Authentication Page</li>
        <li>you sill see the media.heanet.ie upload page</li>
        <li>choose a file to upload and click the blue button "Upload File"</li>
    </ol>

    <br><br>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3 class="text-center">Steps 1</h3>
                </div>
                <a href="/img/moodle4.png">
                    <img class="img-rounded" src="/img/moodle4.png">
                </a>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3 class="text-center">Steps 2 - 3</h3>
                </div>
                <a href="/img/moodle6.png">
                    <img class="img-rounded" src="/img/moodle6.png">
                </a>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3 class="text-center">Steps 4 - 5</h3>
                </div>
                <a href="/img/moodle7.png">
                    <img class="img-rounded" src="/img/moodle7.png">
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3 class="text-center">Steps 6</h3>
                </div>
                <a href="/img/moodle8.png">
                    <img class="img-rounded" src="/img/moodle8.png">
                </a>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3 class="text-center">Steps 7 - *</h3>
                </div>
                <a href="/img/moodle9.png">
                    <img class="img-rounded" src="/img/moodle9.png">
                </a>
            </div>
        </div>

    </div>


    <hr>
    <h3 id="list-file">List Uploaded files</h3>
    <ol>
        <li>in any editor with the media button, click the button</li>
        <li>a window named "Insert media" will open</li>
        <li>click the grey button "Browse repositories"</li>
        <li>on the left, among other repositories you might have, you will see two prefixed "Heanet Media:"</li>
        <li>click the repostiory "Heanet Media: List"</li>
        <li>the first time you click it, media will attempt to link your moodle account to your media user id</li>
        <li>either the list of your videos will appear, or a confirmation page will</li>
        <li>if you see the confirmation page, simply click "Heanet Media: List" on your left side, to try again.</li>
    </ol>

    <br><br>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3 class="text-center">Steps 1</h3>
                </div>
                <a href="/img/moodle4.png">
                    <img class="img-rounded" src="/img/moodle4.png">
                </a>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3 class="text-center">Steps 2 - 3</h3>
                </div>
                <a href="/img/moodle6.png">
                    <img class="img-rounded" src="/img/moodle6.png">
                </a>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3 class="text-center">Steps 4 - 5</h3>
                </div>
                <a href="/img/moodle7.png">
                    <img class="img-rounded" src="/img/moodle7.png">
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3 class="text-center">Steps 6 - 7</h3>
                </div>
                <a href="/img/moodle10.png">
                    <img class="img-rounded" src="/img/moodle10.png">
                </a>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3 class="text-center">Steps 8</h3>
                </div>
                <a href="/img/moodle11.png">
                    <img class="img-rounded" src="/img/moodle11.png">
                </a>
            </div>
        </div>


    </div>
</div>

<br/><br/><br/><br/><br/>
