<div class="title">
    <div class="container text-center">
        <h1> Blackboard Media Building Block</h1>
    </div>
</div>

<br>

<div class="container">
    <h2> Usage guide </h2>

    <ul class="list-unstyled">
        <li><button class="btn-link" ng-click="index.scrollTo('download-file')">download the plugin</button></li>
        <li><button class="btn-link" ng-click="index.scrollTo('install-plugins')">install the plugin</button></li>
        <li><button class="btn-link" ng-click="index.scrollTo('upload-file')">upload a file</button></li>
        <li><button class="btn-link" ng-click="index.scrollTo('list-file')">list uploaded files</button></li>
    </ul>

    <h3 id="download-file">Download the plugin file</h3>
    <ul>
        <li><a href="https://github.com/heanet/blackboard_media/raw/master/heanet_media.war">Repository: blackboard_media</a></li>
    </ul>

    <hr>
    <h3 id="install-plugins">Install the plugin</h3>
    <ol>
        <li>From the Administration Panel, go to Building Blocks -> Building Blocks -> Installed Tools -> Upload Building Blocks.</li>
        <li>You can then select the heanet_media.war file as the package to upload and continue through the installation (you should have received it by e-mail).
    The way to update the plugin will be the same. This should give you a successful install message.</li>
        <li>As it is possible that your Blackboard instance doesnt enable fully the plugin, I would invite you to ensure that the Course tool is active (from Admin Panel Tools and Utilities Tools).</li>
        <li> (Optional) It isnt really required to test with an Admin account but if later on you want to allow everyone to add video content from media,
             you may need to follow this <a href="https://en-us.help.blackboard.com/Learn/9.1_2014_04/Administrator/070_Server_Management_and_Integrations/Security/000_Key_Security_Features/System_and_Information_Integrity/020_Safe_HTML">process</a> to add media.heanet.ie as a trusted source (ortherwise Blackboard will filter the embed media player for some roles).

             The line to add in the policy file would be:
             <code>
                 &lt;regexp value="http[s]?://media.heanet.ie/.*" /&gt;
             </code>
         </li>
    </ol>

    <br><br>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3 class="text-center">Steps 1 - 2</h3>
                </div>
                <a href="/public/img/plugininstalled.png">
                    <img class="img-rounded" src="/public/img/plugininstalled.png">
                </a>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3 class="text-center">Step 3</h3>
                </div>
                <a href="/public/img/coursetoolenabled.png">
                    <img class="img-rounded" src="/public/img/coursetoolenabled.png">
                </a>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3 class="text-center">Step 4</h3>
                </div>
                <a href="/public/img/mediaastrustedsource.png">
                    <img class="img-rounded" src="/public/img/mediaastrustedsource.png">
                </a>
            </div>
        </div>
    </div>

    <hr>
    <h3 id="upload-file">Upload a file</h3>
    <ol>
        <li>In any editor you may find within a Community forum or Courses, choose Mashups -> Heanetmedia Upload</li>
        <li>a pop-up window to Heanet Media will open</li>
        <li>first with the IDP Authentication Page</li>
        <li>then with media.heanet.ie upload page</li>
        <li>choose a file to upload and click the blue button "Upload File"</li>
    </ol>

    <br><br>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3 class="text-center">Mashup Selection</h3>
                </div>
                <a href="/public/img/mediapluginmashup.png">
                    <img class="img-rounded" src="/public/img/mediapluginmashup.png">
                </a>
            </div>
        </div>
    </div>


    <hr>
    <h3 id="list-file">List Uploaded files</h3>
    <ol>
        <li>In any editor you may find within a Community forum or Courses, choose Mashups -> Heanetmedia List</li>
        <li>The first time you click it, a pop-up will open and media will attempt to link your Blackboard account to your media user id</li>
        <li>either the list of your videos will appear, or a confirmation page will</li>
        <li>If you see the confirmation page, simply reload the pop-up to try again</li>
        <li>Once you have the list of videos, simply select one (a blue contour will appear) and click on "Add Video"</li>
        <li>The window will close and you will be able to see the media player on your content</li>
        <li>Save your content, you can then watch the selected video with the media player</li>
    </ol>

    <br><br>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3 class="text-center">Step 5</h3>
                </div>
                <a href="/public/img/heanetpluginlist.png">
                    <img class="img-rounded" src="/public/img/heanetpluginlist.png">
                </a>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3 class="text-center">Step 7</h3>
                </div>
                <a href="/public/img/testvideoembed.png">
                    <img class="img-rounded" src="/public/img/testvideoembed.png">
                </a>
            </div>
        </div>

    </div>
</div>

<br/><br/><br/><br/><br
