/* */

body {
    font-family: 'Open Sans', sans-serif;
    color: #666666;
}

.alert.message {
    margin-bottom: 0px;
}

.navbar {
    height:105px;
    margin:0;
}

.navbar-small {
    height:65px;
    margin:0;
}

.navbar-default {
    background:#014289;
    color:#ffffff;
}

.navbar-small .navbar-brand {
    padding: 8px 5px 15px 0;
}

.navbar-toggle {
    margin-top:35px;
}

.navbar-small .navbar-toggle {
    margin-top:15px;
}

.navbar-right {
    font-size: 17px;
    padding-top: 30px;
}

.navbar-small .navbar-right  {
    padding-top: 5px; }

.title {
    background: #0098d8;
    color: #ffffff;
    padding: 30px 0;
}

.main-content {
    padding: 30px 0;
}

.pre-footer {
    background: #333333;
    color: #999999;
    padding: 30px 0;
}

footer {
    background: #000000;
    color: #ffffff;
    padding-bottom: 30px;
    padding-top: 30px;
}

footer .footer-logo:not(:first-child) {
    margin-left: 40px;
}

/* typography */

h1, h2, h3, h4, h5 {
    font-weight: 600;
}

.title h1 {
    font-size: 43px;
    margin: 0;
}

h2 {
    color: #000;
    margin: 20px 0 30px;
}

.pre-footer h3 {
    color: #ffffff;
    margin: 0 0 20px;
}

#message p {
    margin: 0; }

/* lists */

ul.dropdown-menu {
    background: #014289;
    color: #ffffff;
}

/* links */

.navbar-default .dropdown-menu > li > a,
.navbar-default .dropdown-menu > li > a:focus,
.navbar-default .dropdown-menu > li > a:hover,
.navbar-default .dropdown-menu > li > a:active,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:active,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:active {
    background: #014289;
    color: #ffffff;
}

.navbar-default .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a:hover {
    color: #ccc;
}

/* media queries */

@media (max-width: 767px) {

    .navbar-nav {
        margin: 0 -15px 7.5px;
    }

    .navbar-brand {
        padding:15px 15px 15px 0;
    }

    .navbar-small .navbar-brand {
        padding:8px 5px 15px 0;
    }

    .navbar-right {
        padding-top: 0;
    }

    .dropdown-menu {
        padding: 0;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:active,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        background: #014289;
        color: #ffffff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #ccc;
    }

}
